@charset "UTF-8";
.icon-title, #content #main .about .about-left, #content #main .classes .classes-left, #content #main .corporate .up-part, #content #main .lab .lab-left, #content #main .exam-prepare .up-part {
  border-right: 1px solid;
  margin: 37px 5px 0px 25px; }
  .icon-title p, #content #main .about .about-left p, #content #main .classes .classes-left p, #content #main .corporate .up-part p, #content #main .lab .lab-left p, #content #main .exam-prepare .up-part p {
    margin: 15px 0 0 0;
    font-size: 22px;
    line-height: 30px; }

.discribe, #content #main .about .about-right, #content #main .classes .classes-right, #content #main .corporate .bottom-part, #content #main .lab .lab-right, #content #main .exam-prepare .bottom-part {
  padding: 0 20px;
  margin-top: 40px; }
  .discribe .note-title, #content #main .about .about-right .note-title, #content #main .classes .classes-right .note-title, #content #main .corporate .bottom-part .note-title, #content #main .lab .lab-right .note-title, #content #main .exam-prepare .bottom-part .note-title {
    font-weight: bold;
    margin-bottom: 15px; }
  .discribe .context, #content #main .about .about-right .context, #content #main .classes .classes-right .context, #content #main .corporate .bottom-part .context, #content #main .lab .lab-right .context, #content #main .exam-prepare .bottom-part .context {
    margin-bottom: 20px; }

.main-sidebar {
  background-color: #11a2ae;
  padding: 0 15px;
  color: #FFFFFF; }
  .main-sidebar .icon-side {
    padding: 30px 0;
    align-self: center; }
  .main-sidebar .summary {
    font-size: 28px;
    line-height: 1.1;
    margin-bottom: 30px; }
  .main-sidebar .title {
    font-weight: bold;
    margin-bottom: 15px; }
  .main-sidebar .context {
    margin-bottom: 40px;
    line-height: 110%; }

body {
  display: flex;
  justify-content: center;
  background-color: #f3f3f3; }

#container {
  width: 980px;
  color: #7b7b7b; }

#header {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px; }
  #header img {
    margin-bottom: -9px; }
  #header .upper-line {
    display: flex; }
    #header .upper-line :nth-child(3n+1) {
      background-color: #a09e9e;
      height: 5px;
      flex-grow: 1; }
    #header .upper-line :nth-child(3n+2) {
      background-color: #ef9a9a;
      height: 5px;
      flex-grow: 1; }
    #header .upper-line :nth-child(3n+3) {
      background-color: #66c2c9;
      height: 5px;
      flex-grow: 1; }
  #header .content {
    display: flex;
    flex-grow: 1;
    padding: 40px 0;
    background-image: url(../images/logo_deco.png);
    background-repeat: no-repeat;
    background-position: 14px 22px; }
    #header .content .title {
      font-size: 30px;
      padding-left: 75px; }
      #header .content .title :nth-child(2) {
        color: #de5454;
        padding-left: 7px;
        border-left: 3px solid; }
    #header .content .menu {
      display: flex;
      justify-content: space-around;
      flex-grow: 1;
      line-height: 20px;
      align-items: flex-end; }
      #header .content .menu .active {
        color: #11a2ae; }
      #header .content .menu a {
        color: #7b7b7b;
        text-decoration: none; }
      #header .content .menu a:hover {
        color: #11a2ae; }

#content {
  background-color: #FFFFFF;
  padding-bottom: 20px; }
  #content .plus-btn {
    font-size: 25px;
    align-self: center; }
  #content #submain {
    display: flex;
    flex-direction: columns;
    background-color: #FFFFFF;
    background-image: url(../images/comma.png);
    background-repeat: no-repeat;
    background-position: 0 50px; }
    #content #submain .summary {
      font-size: 50px;
      font-weight: bold;
      color: #de5454;
      line-height: 120%;
      padding: 50px 234px; }
    #content #submain .author {
      font-size: 15px;
      color: #a09e9e; }
  #content #main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1.3fr 0.9fr 1.1fr;
    grid-template-areas: "about about classes classes"  "corporate woman lab lab"  "corporate schedule schedule exam-prepare"  "video video house exam-prepare";
    grid-gap: 20px; }
    #content #main .icon {
      font-size: 46px; }
    #content #main .icon-dark {
      color: #000;
      opacity: 0.3; }
    #content #main .about {
      grid-area: about;
      background-color: #FFFFFF;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px; }
      #content #main .about .about-left {
        color: #999; }
    #content #main .classes {
      grid-area: classes;
      display: grid;
      grid-template-columns: 1fr 1fr;
      color: #de5454;
      margin-bottom: 20px; }
      #content #main .classes .classes-left {
        color: #de5454; }
    #content #main .corporate {
      grid-area: corporate;
      background-color: #11a2ae;
      color: #FFFFFF;
      display: grid;
      grid-template-rows: 1fr 1fr;
      padding-right: 10px; }
      #content #main .corporate .up-part {
        border: 0px; }
    #content #main .woman {
      grid-area: woman; }
      #content #main .woman .relative {
        position: relative; }
      #content #main .woman img {
        margin-top: -10px; }
      #content #main .woman p {
        margin-top: 4px; }
      #content #main .woman .ribbon {
        color: #fff;
        position: absolute;
        background: #de5454;
        height: 27px;
        padding: 10px 15px;
        opacity: 0.9;
        z-index: 1;
        width: 231px;
        left: -15px;
        top: 184px;
        text-align: center; }
      #content #main .woman .ribbon:before {
        content: "";
        position: absolute;
        border-style: solid;
        border-color: #8D6E63 transparent;
        bottom: -15px;
        left: 0;
        border-width: 16px 0 0 16px; }
      #content #main .woman .ribbon:after {
        content: "";
        position: absolute;
        border-style: solid;
        border-color: #8D6E63 transparent;
        bottom: -16px;
        right: 0;
        border-width: 16px 16px 0 0; }
    #content #main .lab {
      grid-area: lab;
      background-color: #7b7b7b;
      display: grid;
      grid-template-columns: 1fr 1fr; }
      #content #main .lab .lab-left {
        margin-bottom: 70px;
        color: #FFFFFF; }
      #content #main .lab .lab-right {
        margin-right: 35px;
        color: #FFFFFF; }
    #content #main .schedule {
      grid-area: schedule; }
      #content #main .schedule .title {
        background-color: #de5454;
        color: #FFFFFF;
        font-size: 22px;
        padding: 10px 0 10px 10px; }
      #content #main .schedule .list {
        padding: 20px 20px 0 20px; }
      #content #main .schedule span {
        font-weight: bold;
        font-size: 35px;
        color: #a09e9e;
        margin: 0 10px; }
      #content #main .schedule li {
        font-size: 30px;
        color: #a09e9e;
        margin: 10px 0;
        display: flex; }
        #content #main .schedule li div {
          padding-left: 12px;
          border-left: 2px solid; }
      #content #main .schedule li:before {
        content: "•";
        color: #de5454; }
    #content #main .exam-prepare {
      grid-area: exam-prepare;
      background-color: #11a2ae;
      color: #FFFFFF;
      display: grid;
      grid-template-rows: 1fr 1fr;
      padding-right: 10px; }
      #content #main .exam-prepare .up-part {
        border: 0px; }
  #content .video {
    grid-area: video; }
  #content .house {
    grid-area: house; }

#footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas: "contact email join-us" "info info info";
  grid-gap: 10px;
  height: 300px; }
  #footer .contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    margin: 20px 0;
    border-right: 2px solid #11a2ae; }
    #footer .contact .lingo {
      color: #11a2ae;
      margin: 25px 0; }
    #footer .contact span {
      border-right: 2px solid;
      margin-right: 10px; }
    #footer .contact .text {
      margin-bottom: 20px;
      font-size: 13px; }
    #footer .contact .tel {
      font-size: 13px; }
  #footer .email {
    grid-area: email;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin: 20px 0; }
    #footer .email .content-left {
      display: flex;
      flex-direction: column; }
      #footer .email .content-left input {
        height: 21%;
        margin-bottom: 5px;
        margin-left: 5px;
        border-radius: 8px;
        border: 0; }
    #footer .email .content-right {
      display: flex;
      flex-direction: column;
      align-content: stretch; }
      #footer .email .content-right textarea {
        height: 87%;
        margin-right: 5px;
        border-radius: 8px;
        border: 0;
        margin-left: 5px;
        resize: none; }
      #footer .email .content-right button {
        width: 25%;
        height: 25%;
        background-color: #11a2ae;
        border-radius: 8px;
        color: #FFFFFF;
        align-self: flex-end;
        margin-top: 5px;
        border: 0; }
  #footer .join-us {
    grid-area: join-us;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin: 20px 0;
    border-left: 2px solid #11a2ae; }
    #footer .join-us p {
      margin: 18px 0; }
    #footer .join-us .social-icon {
      display: flex; }
      #footer .join-us .social-icon img {
        margin: 0 7px; }
  #footer .info {
    grid-area: info;
    display: flex;
    flex-direction: column; }
    #footer .info .title {
      align-self: center;
      display: flex;
      margin-bottom: 15px; }
      #footer .info .title a {
        color: #7b7b7b;
        margin: 0 5px;
        text-decoration: none; }
      #footer .info .title a:hover {
        color: #11a2ae; }
      #footer .info .title .active {
        color: #11a2ae; }
    #footer .info .partner {
      align-self: center; }
