.container-width {
    width:980px;
}

.menu_active {
    background: linear-gradient(#19aca8,#c8e09e,transparent 90%);
    a {
        color: #19aca8;
    }
}

body {
    color: #888;
    background-color: #f5f4f2;    
}

header {
    display: flex;
    justify-content: center;
    background-image: url(../images/headerbg.jpg);
    margin-bottom: 20px;
    .container {
        display: flex;
        @extend .container-width;
        .img-space {
            flex-grow: 2;
        }
        .menu {
            display: flex;
            flex-grow: 3;
            .active {
                @extend .menu_active;
            }
        }
        li {
            width:100%;
            line-height: 130px;
            text-align: center;
            a{
                text-decoration: none;
                list-style-type: none;
                color: #888;
            }
            &:hover {
                @extend .menu_active;
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
        @extend .container-width;
        display: flex;
        flex-direction: column;
        .text-right {
            text-align: right;
        }
        .text-left {
            text-align: left;
        }
        .main-content {
            display: flex;
            margin-bottom: 25px;
            .summary  {
                .main-title{
                    font-size: 80px;
                    background: linear-gradient(to top,#9daf4a,#647d1b,transparent 100%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-align: center;
                    margin-bottom: 15px;
                }
                .main-subtitle {
                    font-size: 5px;
                    text-align: center;
                    letter-spacing: 10px;
                    margin-left: 80px;
                }
                .title {
                    color: #e19b56;
                    font-size: 22px;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                }
                p {
                    line-height: 25px;
                    margin-bottom: 20px;
                    a {
                        color: #888;
                        text-decoration: underline;
                    }
                }
            }
        }
        .row-reverse {
            flex-direction: row-reverse;
        }
    }
}


footer {
    height: 130px;
    background:-webkit-linear-gradient(#25bbbb, #1b7692);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    .container {
        @extend .container-width;
        display: flex;
        .copyright {
            flex-grow: 1;
            font-size: 10px;
            color: #51d9da;
        }
        .social-link {
            font-size: 35px;
            display: flex;
            li {
                margin: 0 5px;
                a {
                    color :#51d9da;
                }
            }
        }
    }
    
}