
$background_color: black;
$important_font_color:#BF9515;
$general_font_color: #FFFFFF;
$borderColor: #FFFFFF;

body {
    background-color: $background_color;
    justify-content: center;
    display:flex;
    
}
#container {
    width: 840px;
}
#header {
    margin-top: 10px;
    .heading__title {
        font-size: 38px;
        margin-top: 17px;
        color:$general_font_color;
        border: {
            top:1px solid;
            bottom:1px solid;
        };
        width: 200px;
        margin: 5px;
    }
    .heading__title_container {
        width: 237px;
        display: flex;
        justify-content: center;
        color:$general_font_color;
        border: {
            top:1px solid;
            bottom:1px solid;
        };
        text-align: center;
    }
    .heading__title_style {
        display: flex;
        justify-content: center;
        color:$general_font_color;
    }
    .heading__discribe {
        font-size: 16px;
        text-align: center;
        color:$general_font_color;
    }
    #menu {
        display: flex;
        justify-content: center;
        color: $general_font_color;
        cursor: pointer;
        margin: 20px 0;
        li {
            margin: 0px 20px;
            list-style-type:none;
            &:hover{
                color: $important_font_color;
            }
        }
    }
    .menu__active {
        color: $important_font_color;
    }
}
#img__content{
    margin-bottom: 20px;
    display: flex;
    >img:nth-child(1){
        margin-right: 10px;
        flex-grow: 1;
    }
    >img:nth-child(2){
        flex-grow: 2;
    }
}
#detail__img{
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    img {
        margin-bottom: 10px;
    }
    .detailImg__item{
        display:flex;
        flex-direction:column;
        margin: 0 5px;
    }
    .detail__title {
        line-height:20px;
        color: $general_font_color;
        margin-bottom: 20px;
    }
    .detail__readmore{
        display: flex;
        color: $important_font_color;
        font-size: 10px;
    }
}
#reservations {
    .reservationsItemForm {
        width:140px;
        height: 40px;
        margin: 0 1px;
        color: $general_font_color;
        margin-bottom: 25px;
    }
    border: {
        top: 1px solid $general_font_color;
        bottom: 1px solid $general_font_color;
    }
    margin-bottom: 10px;
    select {
        @extend .reservationsItemForm;
        background: transparent;
    }
    button {
        @extend .reservationsItemForm;
        background:rgb(191, 149, 21);
        cursor: pointer;
    }

.reservation__area {
    width: 600px;
    margin-top: 25px;
}
    .reservation__title {
        display: flex;
        justify-content: center;
        color:$general_font_color;
        margin-bottom: 35px;
        font-size: 27px
    }
}
#footer{
    display:flex;
    .footer__leftContentItem{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 210px;
        margin-bottom: 10px;
    }
    .footer__contentInfo {
        line-height: 20px;
        font-size: 10px;
    }
    .footer__left {
        display:flex;
        flex-direction: column;
        flex-grow: 10;
    }
    .footer__right {
        display: flex;
        flex-direction: column;
        flex-grow:1;
    }
    .footer__leftContent {
        display: flex;
        color:$general_font_color;
        margin-bottom: 20px;
    }
    #socialNetwork {
        color: $general_font_color;
    } 
    .footer__title {
        color:$important_font_color;
        margin-bottom: 20px;
    }
    .margin__bottom {
        margin-bottom: 10px;
    } 
    .socialIcon{
        display: flex;
    }
    .icon {
        margin: 0 5px;
        cursor:pointer;
    }
    .footer__additionalInfo {
        line-height: 40px;
        font-size: 10px;
    }
}



