.general--font--color {
  color: #FFFFFF; }

.flex__content-center, #header, #header .heading__title_container, #header .heading__title_style, #header #menu, #ImgContent, #detailImg, #reservations, #reservations > div, #reservations .center, #footer {
  display: flex;
  justify-content: center; }

.general_font_color {
  color: #FFFFFF; }

body {
  background-color: black; }

#header {
  flex-direction: column; }
  #header .heading__title {
    font-size: 38px;
    margin-top: 17px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 200px;
    margin: 5px; }
  #header .heading__title_container {
    width: 237px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    text-align: center; }
  #header .heading__discribe {
    font-size: 16px;
    text-align: center; }
  #header #menu {
    color: #FFFFFF;
    cursor: pointer;
    margin: 20px 0; }
    #header #menu li {
      margin: 0px 20px;
      list-style-type: none; }
      #header #menu li:hover {
        color: #BF9515; }
  #header .menu__active {
    color: #BF9515; }

#ImgContent {
  height: 498px; }
  #ImgContent > div:nth-child(1) {
    width: 208px; }
  #ImgContent > div:nth-child(2) {
    width: 621px; }

#detailImg .detailImg-item {
  display: flex;
  flex-direction: column;
  width: 209px;
  border-bottom: 1px solid;
  border-color: #FFFFFF; }
  #detailImg .detailImg-item > img {
    width: 194px;
    height: 144px; }
    #detailImg .detailImg-item > img ~ div {
      width: 180px; }

#detailImg .detailTitle {
  line-height: 20px;
  text-align: left;
  color: #FFFFFF;
  margin: 20px 0; }

#detailImg .detailReadMore {
  display: flex;
  color: #BF9515;
  margin-bottom: 20px;
  font-size: 10px; }

#reservations {
  margin-top: 20px; }
  #reservations .reservationsItemForm, #reservations select, #reservations button {
    width: 140px;
    height: 40px; }
  #reservations select {
    background: transparent;
    color: #FFFFFF; }
  #reservations button {
    background: #bf9515;
    color: #FFFFFF;
    cursor: pointer; }
  #reservations > div {
    width: 590px;
    flex-direction: column;
    margin-right: 269px;
    border-color: #FFFFFF;
    border-bottom: solid;
    border-top: solid;
    border-width: 1px; }
  #reservations .center {
    color: #FFFFFF; }
    #reservations .center > h2 {
      padding-bottom: 17px; }
  #reservations .selectBar {
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    margin-bottom: 20px; }

#footer {
  line-height: 80px; }
  #footer #footerContent {
    width: 840px;
    display: flex;
    justify-content: space-around; }
  #footer .footerLeftContentItem {
    flex-grow: 1;
    text-align: left;
    display: flex;
    flex-direction: column; }
    #footer .footerLeftContentItem span {
      line-height: 20px;
      width: 100px; }
  #footer .footerRightContent {
    flex-grow: 3;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #FFFFFF; }
  #footer .footerContentInfo {
    line-height: 20px;
    font-size: 10px; }
  #footer .footerleft {
    flex-grow: 3;
    display: flex;
    flex-direction: column; }
  #footer .footerLeftContent {
    display: flex;
    color: #FFFFFF;
    border-top: 1px solid #FFFFFF; }
  #footer #socialNetwork {
    align-self: flex-start;
    color: #FFFFFF;
    margin-top: 20px; }
  #footer .footerTitle {
    color: #BF9515; }
  #footer .footerTitle__padding__bottom-10px {
    padding-bottom: 10px; }
  #footer .socialIcon {
    display: flex;
    padding-top: 15px; }
  #footer .footerAdditionalInfo {
    line-height: 40px;
    font-size: 10px; }
