
$container-size:980px;

.active {
    a {
        padding-bottom: 5px;
        border-bottom: 2px solid;
    }
}

.menu-style {
    width: 100%;
    text-align: center;
}

.tag {
    position: absolute;
    background-color: #759CA4;
    color: #FFFFFF;
    padding: 16px 23px;;
}

.footer-style {
    padding: 30px 0 30px 25px;
    line-height: 25px;
    .title {
        font-weight: bold;
    }
}

.subscribe-field {
    font-size: 15px;
    border: 0;
    padding: 10px 0;
}

.hover-style {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    @extend .active;
}

header {
    display: flex;
    justify-content: center;
    .container {
        width: $container-size;
    }
    .menu {
        display: flex;
        line-height: 110px;
        li {
            @extend .menu-style;
            &:hover {
                @extend .hover-style;
            }
            a {
                text-decoration: none;
                color: #150D0F;
            }
            
        }
        div {
            @extend .menu-style;
            .icon {
                color: #557277;
            }
            &:hover {
                @extend .hover-style;
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    background-color: #EAECEE;
    .container {
        width: $container-size;
        align-self: center;
        .banner {
            display: flex;
            margin-bottom: 10px;
            .title-space {
                background-color: #759CA4;
                padding: 57px 110px 20px 60px;;
                flex-grow: 1;
                .title {
                    color: #38494d;
                    line-height: 50px;
                    font-size: 45px;
                    letter-spacing: 2px;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                .sub-title {
                    color: #FFFFFF;
                    font-size: 20px;
                    letter-spacing: 1px;
                    border-bottom: 3px solid  #557277;
                    padding-bottom: 5px;
                }
            }
        }
        .waterfall {
            column-count: 3;
            .pic-margin {
                margin-bottom: 10px;
                .tag {
                    @extend .tag;
                }
               
            }
            .pic-middle-margin {
                margin-bottom:16px;
                .tag {
                    @extend .tag;
                }
            }
            .title {
                color: #FFFFFF;
                background-color: #759CA4;
                font-weight: bold;
                text-align: center;
                font-size: 39px;
                margin-bottom: 17px;
                line-height: 170px;
                width: 314px;
            }
        }
    }
}

footer {
    background-color: #557277;
    display: flex;
    justify-content: center;
    .container {
        width: $container-size;
        display: flex;
        color: #d0d0d0;
        .contact-us {
            @extend .footer-style;
            flex-grow: 1;
            a {
                font-size: 20px;
                color: #FFFFFF;
                text-decoration: none;
            } 
            .social-icon {
                display: flex;
                margin-top: 7px;
                li {
                    padding-right:13px;
                }
            }
        }
        .payment {
            @extend .footer-style;
            flex-grow: 1;
            ul {
                display:flex;
                margin-top: 10px;
                li {
                    margin: 0 5px;
                }
            }
        }
        .subscribe {
            flex-grow: 10;
            @extend .footer-style;
            padding-right: 10px;
            display: flex;
            flex-direction: column;
            input {
                background-color: #d0d0d0;
                @extend .subscribe-field;
                margin-bottom: 10px;
            }
            button {
                @extend .subscribe-field;
                background: #38494d;
                color: #FFFFFF;
            }
        }
    }
}

.copyright {
    background-color: #545354;
    text-align: center;
    font-size: 10px;
    padding: 20px 0;
    color: #FFFFFF;
    a {
        color : #FFFFFF;
    }
}